@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EMB3D</h1>
    <p>This is a place for hosting 3D models so that they can be embedded into other websites!</p>
</div>
